# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Игнорируем папку .idea
.idea/
# Игнорируем среду разработки
.vscode/
# Игнорируем виртуальное окружение
venv/
.venv
# Игнорируем файлы кэша
__pycache__/
